*
.*

!/.gitignore
!/README.md
!/.vimrc
!/.lesskey
!/.zprofile
!/.zshrc
!/init.sh
!/.Brewfile
!/.simplebarrc
!/.ideavimrc

!templates/
!templates/**

!scripts/
!scripts/**

!work/
!work/README.md

!personal/
!personal/README.md

!.config/
!.config/aerospace/
!.config/aerospace/**
!.config/borders/
!.config/borders/**
!.config/nvim/
!.config/nvim/**
!.config/wezterm/
!.config/wezterm/**




